body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    text-align: center;
}

.game-container {
    border: 1px solid #000;
}

.btn {
    border-radius: 10px;
    width: 100px;
    height:30px;
    margin: 0 5px;
    color: #fff;
    background-color: #000;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.choice {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.choice + p,
.choice + p + p {
    text-align: center;
    font-weight: bold;
}