body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-container {
    border: 1px solid #000;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid black;
}