body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    text-align: center;
}

.game-header {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.game-header h1 {
    margin-right: 30px;
}

.header-btn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.btn {
    border-radius: 10px;
    width: 100px;
    height:30px;
    margin: 0 5px;
    color: #fff;
    background-color:midnightblue;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.reset,
.finish {
    background-color: forestgreen;
}

.choice {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
}

.choice + p,
.choice + p + p {
    text-align: center;
    font-weight: bold;
}